body{
    background-color: #f7f7f7;
    padding:0px;
    margin:0px;
}
.content-body{
    height:auto;
    width:1000px;
    margin:0px auto;
    border:0px;
    /*border:1px solid #ff0000;*/
}

a {
    text-decoration: none;
}

.content-body  .title-img{
    float: left;
}

.content-body .title-title{
    float: left;
    color: #00ff00;
    line-height: 40px;
    font-size: 24px;
    /*border:1px solid #82ff70;*/
    margin-left: -100px;
    font-weight: 400;
}
 .title-title-right {
     float: right;
 }

 .title-title-right span{
     line-height: 40px;
     margin-right: 20px;
     color: #70e165;
 }

.content-body .m-top video{
    height:566px;
    width:1000px;
}

/*.content-body .m-top{*/
    /*border-bottom: 0px;*/
/*}*/
/*.content-body .m-bottom{*/
    /*border-top: 0px;*/
/*}*/

.content-body .movie .m-bottom{
    margin-top:0px;
    width:1000px;
    height:60px;
    background-color: #383c38;
}

.content-body .movie .m-bottom-left{
    float: left;
}

.content-body .movie .m-bottom-left span{
    line-height: 60px;
    margin-left:20px;
    margin-right:30px;
    font-size: 18px;
    color: #82ff70;
}

.content-body .movie .m-bottom-right{
    float: right;
    height:58px;
    /*border:1px solid #ff0000;*/
}
ul{
    list-style: none;
    /*margin-bottom: 30px;*/
    /*margin-right: 80px;*/
    margin-right:60px;
}
ul li{
    float: right;
    /*margin:10px;*/
    margin-left: 20px;
    /*margin-right: 20px;*/
    height:20px;
    width:20px;
    background-color: #2e2523;
    line-height: 20px;
    padding:5px;
}
.m-bottom-right li:hover{
    border: 2px solid lime;
    color: #000;
}
ul li a{
    color: #00ff00;
    margin-left: 5px;
}

.content-body .mv-info{
    float: left;
    height:600px;
    width:250px;
    margin-top: 10px;
    background-color: #ffffff;
    padding:10px;
}

.content-body .mv-info h1{
    font-size: 18px;
    line-height: 24px;
    color: #797979;
    font-weight: 500;
}
.content-body .mv-info hr{
    height:1px;border:none;
    border-top:1px solid #cdcdcd;"
}

.content-body .mv-info .text-min{
    font-size: 14px;
    color: #b3b3b3;
}

.content-body .mv-info .relative-mv{
    height:67px;
    width:250px;
    /*border:1px solid #2e2523;*/
    margin-top: 15px;
}
.content-body .mv-info .relative-mv .relative-mv-img{
    height:67px;
    width:117px;
    float: left;
}
.content-body .mv-info .relative-mv .relative-mv-info{
    padding-top: 10px;
    width:120px;
    float: left;
    margin-left: 10px;

}
.content-body .mv-info .relative-mv .relative-mv-info .relative-mv-name{
    font-size: 16px;
    line-height: 24px;
    color: #9c9c9c;
}
.content-body .mv-info .relative-mv .relative-mv-info .relative-mv-auto{
    font-size: 14px;
    line-height: 16px;
    color: #b9b9b9;
}

.content-body .mv-info-right{
    margin-top: 10px;
    margin-left: 280px;
    width:700px;
    height:600px;
    background-color:#ffffff;
    padding: 10px;
}

.content-body .mv-info-right h1{
    font-size: 18px;
    line-height: 24px;
    color: #797979;
    font-weight: 500;
 }
.content-body .mv-info-right hr{
    height:1px;border:none;
    border-top:1px solid #cdcdcd;"
}

.content-body .mv-info-right .topic{
    height:auto;
    width: 710px;
}
.content-body .mv-info-right .topic .topic-img{
    float: left;
    height: 40px;
    width: 40px;
}
.content-body .mv-info-right .topic .topic-info{
    float: right;
    height: auto;
    width: 660px;
}

.content-body .mv-info-right .topic .topic-info .author{
    color: #59cf3c;
}

.content-body .mv-info-right .topic .topic-info .author-say{
    color: #747474;
    font-size: 14px;
}

.content-body .mv-info-right .topic .topic-bottom {
    margin-left:50px;
    margin-top:10px;;
    width: 660px;
    float: left;
    /*background-color: #9c9c9c;*/
    line-height: 24px;
}
.content-body .mv-info-right .topic .topic-bottom .topic-other{
    /*height:30px;*/
    /*margin-left:50px;*/
    /*margin-top:10px;;*/
    float: right;

}
.content-body .mv-info-right .topic .topic-img img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.content-body .mv-info-right .topic .topic-bottom {
    color: #939393;
    font-size: 14px;
}

.content-body .mv-info-right .topic .line{
    float: left;
    width:710px;
    height:5px;
    background-color: white;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}